@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(225, 225, 225);
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

/* HEADER */
header{
    margin-top: 10px;
}

header > .center{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo img{
    max-width: 100%;
}

.menu{
    margin-top: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 13px;
}

.menu a.btn-cta{
    background-color: #30851d;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 4px 12px -1px #A0FF96;
    margin-right: 0;
    transition: 0.3s;
}
.menu a.btn-cta:hover{
    background-color: #296b1a;
}

/* Sessão 1 - principal */
section.topo{
    /* background-color: rgb(241, 241, 241); */
    padding: 30px;
}

section.topo > .center{
    display: flex;
    justify-content: space-between;
}

.texto-topo{
    margin-top: 20px;
    /* float: left; */
    width: 60%;
    color: #11223f;
    padding-right: 4%;
}

.texto-topo h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.texto-topo p{
    font-size: 20px;
}

.img-topo{
    width: 40%;
}

.img-topo img{max-width: 100%;}

/* Sessão 2 - Depoimentos */
section.depoimentos{
    padding: 30px 0;
}

section.depoimentos > .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.depoimentos-single{
    width: 45%;
    background-color: white;
    background-image: url('../images/quote.png');
    background-repeat: no-repeat;
    background-size: 55px 40px;
    background-position: calc(100% - 10px) 10px;
    padding: 50px;
    margin-bottom: 10px;
}

.depoimentos-single p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.depoimentos-single span{
    color: green;
    font-weight: bold;
    font-size: 13px;
}

/* Sessão 3 - Sobre */
.sobre{
    padding: 20px 0;
}

.titulo-sobre h2{
    color: black;
    padding-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #2bb222;
    display: inline-block;
}

.sobre-single{
    float: left;
    width: 33.3%;
    padding: 20px;
}

.sobre-single .titulo-single{
    display: flex;
}

.sobre-single .titulo-single i{
    background-color: #2bb222;
    color: white;
    width: 30%;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
}

.sobre-single .titulo-single h3{
    color: black;
    background-color: #f1faf1;
    width: 70%;
    padding: 20px 30px;
    /* margin: 0; */
}

.sobre-single .sobre-conteudo{
    background-color: white;
    padding: 30px;
    color: black;
}

footer{
    background-color: #effeee;
    text-align: center;
    color: white;
    padding: 30px;
}

footer i{
    font-size: 18px;
    color: #515151;
    margin: 0 15px;
}



@media screen and (max-width: 768px){

    section.topo > .center{flex-wrap: wrap;}
    .texto-topo, .img-topo{width: 100%; margin-bottom: 20px;}

    .depoimentos-single{
        width: 100%;
        margin-right: 0;
    }

    .sobre-single{
        width: 100%;
    }
}